body {
  background-color: #f5f5f5;
  color: #212121;
}
/* хедер */
.page-header {
  background-color: #ffffff;
}
/* site-nav */
.site-nav-list .link {
  color: #212121;
}
.site-nav-list .link-current {
  color: #2196f3;
}

.site-nav-list .link:hover,
.site-nav-list .link:focus {
  color: #2196f3;
}
.site-nav-list:hover,
.site-nav-list:focus {
  color: #000000;
}
.logo {
  color: #000000;
}
.contacts-h a {
  color: #757575;
}
.contacts-h a:hover,
.contacts-h a:focus {
  color: #2196f3;
}

/* видалила лапки та підкреслювання */
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* секція герой */
.hero {
  background-color: #2f303a;
  color: #ffffff;
}
/* колір осн тексту #212121 */
/* колір параграфів #757575 */
/* h1 #FFFFFF */
/* голубий акцент #2196F3 */
/* хедер колір фону #FFFFFF */
/* наша команда #F5F4FA */
/* чорний футер #2F303A */

/* Button */
.button {
  background-color: #f5f4fa;
  color: #212121;
}
.button.primary {
  background-color: #2196f3;
  color: #ffffff;
}
/* футер */
.footer-bck {
  background-color: #2f303a;
}
